<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:epub="http://www.idpf.org/2007/ops">
  <head>
    <meta charset="utf-8" />
    <title>README - <%= config.project %> v<%= config.version %></title>
    <meta name="generator" content="ExDoc" />
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
  </head>
  <body>
    <h1>README</h1>
    <%= to_html(content) %>
  </body>
</html>
