<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible">
    <title><%= config.project %> v<%= config.version %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="ExDoc">
    <link type="text/css" rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <h1><%= config.project %></h1>
    <h2>v<%= config.version %></h2>
  </body>
</html>
